
@mixin content-block($width:340px) {
  width: $width;
  margin: 0 auto;
}

.poster {
  background: url("~@/assets/img/invite-rewards/start-share-header.jpg") no-repeat top;
  width: 375px;
  background-size: 100%;
  padding-bottom: 20px;
}

.description-img-wrapper {
  padding-top: 120px;
  width: 375px;
  text-align: center;

  img {
    max-width: 360px;
    height: auto;
  }
}

.qrcode-card-wrapper {
  @include content-block;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  border: 1Px solid #0075c2;
  background: #fff;

  .qr-code {
    width: 80px;
    height: 80px;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .info {
    width: 0;
    flex: 1;
    font-size: 14Px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 8px 20px;

    .cell {
      display: flex;
      align-items: center;
      text-align: left;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
  }
}
